@{
    ViewData["Title"] = "Home Page";
}

@model List<Tasks>

<table class="table">
    <thead class="thead-dark">
        <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Color</th>
        <th scope="col">State</th>
        <th scope="col">Board ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Tasks task in Model) {
            <tr>
                <td>@task.Id</td>
                <td>@task.Name</td>
                <td>@task.Description</td>
                <td>@task.Color</td>
                <td>@Enum.GetName(task.State)</td>
                <td>@task.BoardId</td>
                <td>
                    <button class="btn btn-primary">
                        <a asp-controller="Tasks" asp-action="Update" asp-route-id="@task.Id" class="badge badge-primary">Update</a>
                    </button>
                    <button class="btn btn-primary">
                        <a asp-controller="Tasks" asp-action="Delete" asp-route-id="@task.Id" class="badge badge-primary">Delete</a>
                    </button>
                </td>
            </tr>
        }
    </tbody>
    <button class="btn btn-outline-primary">
        <a asp-controller="Tasks" asp-action="Add">Add Task</a>
    </button>
</table>
